# Import Libraries

In [40]:
# import all libraries
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import datetime
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

# Data Preprocessing

In [41]:
# load the dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [42]:
# drop the columns that are not needed
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [43]:
# check for missing values
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [44]:
# encode the categorical variables "Gender" with LabelEncoder
label_en_gender = LabelEncoder()
df['Gender'] = label_en_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [45]:
# encode the categorical variables "Geography" with OneHotEncoder
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [46]:
# concatenate the encoded column "Geography" to the original dataframe
df = pd.concat([df.drop('Geography', axis=1), geo_encoded_df], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [47]:
# split the dataset into features and target
X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [48]:
# split the dataset into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [49]:
# feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [50]:
# save the encoder and scaler for future use
with open('label_en_gender.pkl', 'wb') as file:
    pickle.dump(label_en_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

Building The Model / ANN Implementation

In [51]:
# build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # output layer
])

# compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

# model summary
model.summary()

/home/prime/Documents/ai-projects/myenv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [52]:
# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [53]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [54]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100474.4219 - mae: 100474.4219 - val_loss: 99549.8281 - val_mae: 99549.8281
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99706.1562 - mae: 99706.1562 - val_loss: 98030.9062 - val_mae: 98030.9062
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97574.0938 - mae: 97574.0938 - val_loss: 94081.1562 - val_mae: 94081.1562
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93420.7344 - mae: 93420.7344 - val_loss: 87484.5938 - val_mae: 87484.5938
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 85651.2031 - mae: 85651.2031 - val_loss: 78811.0469 - val_mae: 78811.0469
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 75904.5703 - mae: 75904.5703 - val_loss: 69727.8203 - val_mae: 69727.8203
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 66877.0703 - mae: 66877.0703 - val_loss: 61714.0625 - val_mae: 61714.0625
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 60063.6211 - mae: 60063.6211 - val_loss: 56138.3633 - val_mae: 56138.3633
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54964.4570 - mae: 54964.4570 - val_loss: 52839.8047 - val_mae: 52839.8047
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52412.3867 - mae: 52412.3867 - val_loss: 51264.9141 - val_mae: 51264.9141
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51206.9609 - mae: 51206.9609 - val_loss: 50678.9531 - val_mae: 50678.9531
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51120.1992 - mae: 51120.1992 - val_loss: 50461.1641 - val_mae: 50461.1641
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50359.5234 - mae: 50359.5234 - val_loss: 50347.7344 - val_mae: 50347.7344
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50124.5469 - mae: 50124.5469 - val_loss: 50265.7617 - val_mae: 50265.7617
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50337.0625 - mae: 50337.0625 - val_loss: 50220.6328 - val_mae: 50220.6328
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49789.3320 - mae: 49789.3320 - val_loss: 50170.2266 - val_mae: 50170.2266
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50425.4609 - mae: 50425.4609 - val_loss: 50127.6641 - val_mae: 50127.6641
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50191.5547 - mae: 50191.5547 - val_loss: 50103.0391 - val_mae: 50103.0391
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49816.7969 - mae: 49816.7969 - val_loss: 50072.4102 - val_mae: 50072.4102
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50492.4062 - mae: 50492.4062 - val_loss: 50052.0547 - val_mae: 50052.0547
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49816.8281 - mae: 49816.8281 - val_loss: 50025.7852 - val_mae: 50025.7852
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49892.2500 - mae: 49892.2500 - val_loss: 50007.6055 - val_mae: 50007.6055
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50236.5078 - mae: 50236.5078 - val_loss: 49989.9141 - val_mae: 49989.9141
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50149.9414 - mae: 50149.9414 - val_loss: 49980.4570 - val_mae: 49980.4570
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49658.6875 - mae: 49658.6875 - val_loss: 49972.4961 - val_mae: 49972.4961
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49340.1914 - mae: 49340.1914 - val_loss: 49959.4453 - val_mae: 49959.4453
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49755.8398 - mae: 49755.8398 - val_loss: 49944.2656 - val_mae: 49944.2656
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49938.8086 - mae: 49938.8086 - val_loss: 49937.8477 - val_mae: 49937.8477
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49685.1406 - mae: 49685.1406 - val_loss: 49927.5469 - val_mae: 49927.5469
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49784.8594 - mae: 49784.8594 - val_loss: 49914.5273 - val_mae: 49914.5273
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50032.6484 - mae: 50032.6484 - val_loss: 49915.6055 - val_mae: 49915.6055
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49120.4453 - mae: 49120.4453 - val_loss: 49909.3672 - val_mae: 49909.3672
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49414.4492 - mae: 49414.4492 - val_loss: 49905.1211 - val_mae: 49905.1211
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49711.2930 - mae: 49711.2930 - val_loss: 49902.5195 - val_mae: 49902.5195
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49693.6133 - mae: 49693.6133 - val_loss: 49895.5039 - val_mae: 49895.5039
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49482.1289 - mae: 49482.1289 - val_loss: 49892.7148 - val_mae: 49892.7148
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49646.7227 - mae: 49646.7227 - val_loss: 49895.1289 - val_mae: 49895.1289
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49639.9766 - mae: 49639.9766 - val_loss: 49883.6055 - val_mae: 49883.6055
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49659.2500 - mae: 49659.2500 - val_loss: 49876.7383 - val_mae: 49876.7383
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49302.0547 - mae: 49302.0547 - val_loss: 49879.1367 - val_mae: 49879.1367
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49818.3555 - mae: 49818.3555 - val_loss: 49873.6641 - val_mae: 49873.6641
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49274.8516 - mae: 49274.8516 - val_loss: 49872.3867 - val_mae: 49872.3867
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49466.6328 - mae: 49466.6328 - val_loss: 49868.9141 - val_mae: 49868.9141
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49879.8828 - mae: 49879.8828 - val_loss: 49866.5781 - val_mae: 49866.5781
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49868.1211 - mae: 49868.1211 - val_loss: 49866.5312 - val_mae: 49866.5312
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49738.8359 - mae: 49738.8359 - val_loss: 49860.0781 - val_mae: 49860.0781
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49199.3906 - mae: 49199.3906 - val_loss: 49851.8828 - val_mae: 49851.8828
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49578.8477 - mae: 49578.8477 - val_loss: 49853.9883 - val_mae: 49853.9883
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49829.9805 - mae: 49829.9805 - val_loss: 49850.8398 - val_mae: 49850.8398
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49231.3594 - mae: 49231.3594 - val_loss: 49843.7148 - val_mae: 49843.7148
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49745.4336 - mae: 49745.4336 - val_loss: 49841.8203 - val_mae: 49841.8203
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50055.6602 - mae: 50055.6602 - val_loss: 49835.1992 - val_mae: 49835.1992
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49165.9258 - mae: 49165.9258 - val_loss: 49840.4609 - val_mae: 49840.4609
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50188.0664 - mae: 50188.0664 - val_loss: 49837.3828 - val_mae: 49837.3828
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49211.7930 - mae: 49211.7930 - val_loss: 49840.1289 - val_mae: 49840.1289
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48847.1406 - mae: 48847.1406 - val_loss: 49840.1094 - val_mae: 49840.1094
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49953.6758 - mae: 49953.6758 - val_loss: 49836.3672 - val_mae: 49836.3672
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49650.5664 - mae: 49650.5664 - val_loss: 49844.0039 - val_mae: 49844.0039
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49393.6797 - mae: 49393.6797 - val_loss: 49839.1758 - val_mae: 49839.1758
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49774.1133 - mae: 49774.1133 - val_loss: 49840.0469 - val_mae: 49840.0469
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49811.4609 - mae: 49811.4609 - val_loss: 49841.6016 - val_mae: 49841.6016
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49752.4180 - mae: 49752.4180 - val_loss: 49846.0977 - val_mae: 49846.0977

In [57]:
# save the model
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [55]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [56]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 10786), started 0:03:24 ago. (Use '!kill 10786' to kill it.)